---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

.sidebar {
  float: left; /* Ensures the sidebar stays on the left */
  width: 300px; /* Adjust width as needed */
  max-width: 30%; /* Prevents it from taking too much space */
  margin-right: 20px; /* Adds spacing between sidebar and content */
  position: absolute;
  left: 0;
  top: 100px;
  height: 100%;
}

.initial-content {
  margin-left: 320px; /* Shifts the main content right to make space for sidebar */
  padding: 20px;
}

.sidebar__author {
  text-align: center;
  padding: 15px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 10px;
  margin-bottom: 20px;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
