---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

.sidebar {
  float: left;
  width: 250px; /* Adjust width */
  background-color: #f8f9fa; /* Light gray */
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  left: 20px;
  top: 100px;
}

.initial-content {
  margin-left: 280px; /* Adjust content area so it doesn't overlap sidebar */
}

.sidebar__author {
  text-align: center;
  padding: 15px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 10px;
  margin-bottom: 20px;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
